.wrapTheLoginPage{
    position: relative;
}


.containLoginForm{
    max-width: 450px;
    border-radius: 5px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.151);
    position: relative;
    margin: auto;
}

.loginFormBack{
    height: 35vh;
    position: absolute;
    z-index: -2;
    top: 0px;
    width: 100%;
    background-color: white;
}
.formSpacer{
    height: 150px;
}
.backLines{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 0px;
    left: 25%;
    border: none;
    border-left: 1px solid rgba(211, 211, 211, 0.459);
    z-index: -5;
}
.rightb{
    left: 75%;
    border-left: 1px none;
    border-right: 1px solid rgba(211, 211, 211, 0.459);

}
.containMoreLinks{
    margin: auto;
    margin-top: 25px;
    max-width: 500px;
    text-align: center;
}