.wrapStart {
    margin: auto;
    padding: 130px 0px 100px 0px;
    width: 80%;
    max-width: 1650px;
}
.finnaShort {
    max-width: 65%;
}

.imageSplit {
    max-width: 1650px;
    margin: auto;
}
.imageWrap {
    height: 40vh;
    overflow: hidden;
    max-height: 300px;
}
.imageWrap img {
    width: 100%; /* Ensure the image spans the full width of the container */
    height: 100%; /* Ensure the image spans the full height of the container */
    object-fit: cover; /* Cover the container without distorting the image */
}
@media (max-width: 1165px){
    .wrapStart{
        width: 90%;
    }
}
@media (max-width: 950px){
    .finnaShort {
        max-width: 100%;
    }
}
@media (max-width: 750px){
    .imageWrap {
        height: 50vh;
        max-height: 400px;
    }
}
@media (max-width: 550px){
    .imageWrap {
        height: 65vh;
        max-height: 550px;
    }
}