.containHomeNav{
    padding: 0px;
    margin: 0px;
}


.loginNavFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.wrapDashNavLogo{
    height: 25px;
    width: 25px;
}
.empText{
    width: calc(100% - 35px);

}
.empText h1 {
    padding: 0px;
    margin: 0px;
}
.dashNavLink{
    display: block;
    width: 100%;
    padding: 8px;
    width: calc(100% - 16px);
    transition: .3s;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 0px 5px 5px 0px;

}
.dashNavLink:hover {
    background-color: rgba(211, 211, 211, 0.171);
}
.dashNavLink::before {
    content: "";
    height: 100%;
    width: 3px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px ;
    width: 0px;
}
.dashNavLink:hover{
    padding: 8px 8px 8px 15px;
    width: calc(100% - 23px);
    transition: .3s;
}
.dashNavLink:hover::before{
    width: 3px;
    transition: .3s;
    background-color: lightgray;

}
.containNavLink {
    /* border: 1px solid red; */
}
.active {
    background-color: #0667d610;
    padding: 8px 8px 8px 15px;
    width: calc(100% - 23px);
    transition: .3s;
    font-weight: bold;
}
.active:hover {
    background-color: #0667d610;

}
.active::before {
    content: "";
    height: 100%;
    width: 3px;
    background-color: #0667d6;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    transition: .3s;
}
.active:hover::before{
    width: 3px;
    transition: .3s;
    background-color: #0667d6;

}
.authUserButton{
    border: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f3f3f3;
}
.circleJoint{
    border: 1px solid rgba(133, 133, 133, 0.507);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;

}
.containUserEmail{
    overflow: hidden;
    width: calc(100% - 40px);
    height: fit-content;
}
.containUserEmail p {
    text-overflow: ellipsis;
    font-size: 9pt;

}
.initialsText{
    font-size: 9pt;
    color: rgb(61, 61, 61);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;
    font-weight: 500;

}