.wrapNav {
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: auto;
}

.navLeft {
    display: flex;
    align-items: center;
}
.logoBtn {
    display: flex;
    align-items: center;
}
.logoImg {
    height: 50px;

}
.scrollPic {
    height: 50px;
    display: none;
}
.links {
    display: flex;    
    align-items: center;
}
.sacText {
    margin-left: 12px;
}


.SA {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: .07em;
	font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    color: black;

}
.numby {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: .07em;
	font-family: "Plus Jakarta Sans", sans-serif;
    color: black;

}


/* navigation links */
.links a {
    transition: .4s;
    color: white;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    margin-top: 2px;
    padding: 5px;
}
.links a:hover {
    border-bottom: 2px solid darkgray;
    transition: .3s;
}

.bright .wrapNav .navRight .links a {
    color: black;
}

.scrolled .wrapNav .navRight .links a {
    color: black;
}
.transparent .wrapNav .navLeft .sacText p {
    color: white;

}
.transparent.scrolled .wrapNav .navLeft .sacText .st {
    color: black;
}


.links a.activeNavLink {
    border-bottom: 2px solid #FF7B00;
}

.fullWidth {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 999999;
    transition: .3s;
}
.whiteWidth {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.logoWrap {
    height: 50px;
    width: 50px;
}




.navRight {
    display: flex;
    align-items: center;
}

.fullWidth .wrapNav .navRight #MobileMenuBtn .black {
    display: none;
}
.fullWidth .wrapNav .navRight #MobileMenuBtn .white {
    display: block;
}


/* mobile menu */
#MobileMenuBtn {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    margin-left: 40px;
    display: none;
    margin-top: 2px;
}

.mobileMenu {
    position: fixed;
    display: block;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    display: none;
    overflow: hidden;
    transition: .5s;
    padding: 0px;
    border: none;
    margin: 0px;
}
.openMobile{ 
    height: 100%;
    transition: .5s;
    position: fixed;
    display: block;
    overflow: hidden;
}

.holdHeroBack {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    width: 100%;
}
.holdHeroBack svg {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
.homeButton {
    background-color: transparent;
    padding: 0px;
    border: none;
    margin: 0px;
}

.mobileHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 30px 0px;
}
.mobileBody {
    width: 90%;
    position: absolute;
    top: 100px;
    width: 90%;
    left: 5%;
}
.mobileBody .linkers {
    color: rgb(223, 223, 223);
    display: block;
    font-size: 16pt;    
    margin-bottom: 18px;
    padding-left: 25px;
    padding: 0px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 400;
}
.mobileMenuLink {
    display: block;
    font-size: 12pt;
    color: white;
    font-weight: 400;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    transition: .5s;

}
.linkers p {
    color: rgb(223, 223, 223);
    font-size: 16pt;
}
.mobileActive {
    position: relative;
}
.mobileActive p {
    color: white;
}
.mobileActive::before {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #FF7B00;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0%, -50%);
    border-radius: 50%;
}

.wrapLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wrapCloser {
    height: 30px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: none;
}


.wrapArrow {
    height: 20px;
    width: 20px;
    position: relative;
}
.mobileActive .wrapLink .wrapArrow {
    display: block;
}

.scrolled {
    background-color: rgb(255, 255, 255);
    transition: .3s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
}

.mobileML {
    display: none;
    margin-top: 3px;
}
.mobileOpenText p {
    color: white;
    transition: .4s;
}
.mobileActiveLink {
    border-left: 3px solid #FF7B00;
    padding-left: 10px;
    transition: .5s;
}
@media(max-width: 1275px) {
    #homer {
        display: none;
    }
}
@media(max-width: 1165px) {
    .links {
        display: none;
    }
    #MobileMenuBtn {
        display: block;
    }
    .mobileMenu {
        display: block;
    }
    .wrapNav {
        width: 90%;
    }
}
@media(max-width: 650px) {
    .quoteWrap {
        display: none;
    }
    .mobileML {
        display: block;

    }
    .deskML {
        display: none;
    }
}