.wrapCreateUserFormFlex{
    display: flex;
    justify-content: space-between;
}
.formGridItem{
    background-color: white;
    border-radius: 5px;
}
.userInfoSide{
    width: 60%;
}
.userPermissionsSide {
    width: calc(40% - 25px);
}
.doubleFlex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;

}
.permissionToggleHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.singlePermission{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}