.permissionToggleHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.singlePermission{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.nameFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}
.nameHalf{
    width: 50%;
}
.splitForm{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 25px;
}
.editFormSide{
    width: calc(60%);
}
.permSide{
    width: 40%;
}
.dangerZone{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}