
.finnaWraa {
    width: 50%;
}
.gridder {
    margin: auto;
    padding: 100px 0px;
    width: 80%;
    max-width: 1650px;
}
.manGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
}
.manItem {
    width: calc(100%);
    border-radius: 2px;
}
.imageHold {
    height: 30vh;
    max-height: 400px;
    border-radius: 2px;
    overflow: hidden;
}
.imageHold img {
    width: 100%; /* Ensure the image spans the full width of the container */
    height: 100%; /* Ensure the image spans the full height of the container */
    object-fit: cover; /* Cover the container without distorting the image */
}



@media (max-width: 1165px){
    .gridder{
        width: 90%;
    }
}

@media (max-width: 1100px){
    .manGrid{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media (max-width: 1100px){
    .finnaWraa{
        width: 100%;
    }
}

@media (max-width: 750px){
    .gridder {
        padding: 50px 0px;

    }
    .manGrid{
        grid-template-columns: repeat(1, 1fr);

    }
}