.wrapForm {
    margin: auto;
    width: 90%;
    max-width: 1600px;
    padding-top: 50px;

}

.checkFlex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-gap: 15px;
}
.checkWrap {
    width: calc(100%);
}

.formError {
    margin-bottom: 20px;
    width: fit-content;
    padding: 2px 15px;
    background-color: rgba(255, 0, 0, 0.135);
    border: 2px solid red;
    border-radius: 5px;
}
.formError p {
    color: black;

}
.selectFlex {
    display: flex;
    justify-content: space-between;
}

.halfer {
    width: calc(50% - 15px);
}
.flexInputs {
    display: flex;
    justify-content: space-between;
}
.wrapIn {
    width: calc(25% - 20px);
}
.addyIn {
    width: calc(50% - 15px);
}
.loadWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;
}
.invalidService {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.096);
    text-align: center;
}
.estimateHeader {
    display: flex;
    margin: auto;
}
.headSide {
    width: calc(100% );

}
.angiside {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}
.requestMobile {
    display: none;
} 
@media (max-width: 1000px){
    .wrapForm {
        padding-top: 25px;
    }
    .loadWrap {
        padding-top: 50px;
    }
}
@media (max-width: 900px){
    .flexInputs{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .wrapIn {
        width: 100%;
    }
    .addyIn {
        width: 100%;
    }
    .requestMobile {
        display: block
    }
    .requestDesk {
        display: none;
    }
}

@media (max-width: 750px){
    .checkFlex {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}
@media (max-width: 550px){
    .selectFlex{
        flex-direction: column;
        
    }
    .halfer {
        width: 100%;
    }
    .hone {
        margin-bottom: 20px;
 
    }
  
}