.wrapStart {
    width: 80%;
    margin: auto;
    max-width: 1650px;
    padding-top: 120px;
}
.estimatesWrapper {
    display: flex;
    justify-content: space-between;
}

/* UPDATED BELOW */

.singleEstimate {
    border: 3px solid transparent;
    padding: 50px;
    border-radius: 5px;
    /* width: calc(50% - 132px); */
    width: calc(100%);


    box-shadow: 0px 0px 5px rgba(76, 76, 76, 0.278);
}
.singleEstimate:hover {
    border-color: #FF7B00;
}
.checker {
    display: flex;
    align-items: center;

}
.textCo {
    margin-left: 15px;
}
h4 {
    color: black;
}
.check {
    height: 24px;
}
.learnMore {
    width: 80%;
    margin: auto;
    max-width: 1650px;
    padding: 100px 0px;

}
.learnWrap {
    display: flex;
    justify-content: space-between;
}

/* UPDATED BELOW */

.servicesSide {
    /* width: calc(50% - 32px); */
    width: calc(100% - 32px);

}

@media (max-width: 1165px){
    .wrapStart{
        width: 90%;
    }
    .learnMore{
        width: 90%;
    }
}
@media (max-width: 930px){
    .estimatesWrapper {
        flex-direction: column;
    }
    .learnWrap {
        flex-direction: column;
    }
    .two {
        margin-top: 25px;
    }
    .singleEstimate {
        width: calc(100%);
        padding: 0px;
        box-shadow: none;
    }
    .servicesSide {
        width: calc(100%);
        padding: 0px;
        box-shadow: none;
    }
    .singleEstimate:hover {
        border-color: transparent;
    }
}