.radioSide {
    display: flex;
    align-items: center;

}
.radioInner {
    border-radius: 50px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.radioOuter {
    border: 1px solid #6464647c;
    margin-right: 10px;
    padding: 2px;
    border-radius: 50px;

}
.isChecked {
    background-color: #FF7B00;
}
.labelFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4 {
    color: rgb(33, 33, 33);
}
.checkboxIn {
    display: none;
}
.checkLabe {
    display: block;
    position: relative;
    cursor: pointer; /* Improves user experience */
    user-select: none; /* Prevent text selection */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-bottom: 0px;
}
.checkLabe:hover {
    border-color: #a3a3a3;
}
.showBorder{
    border-color: #FF7B00;
}
.showBorder:hover {
    border-color: #FF7B00;

}