.emailInputWrapper {
    position: relative;
}

.emailInput {
    padding: 10px;
    outline: none;
    border: 2px solid transparent;
    width: calc(100% - 24px);
    border-radius: 5px;
    color: rgb(111, 111, 111);
    transition: 0.5s;
    border: 1px solid lightgray;

}

.emailInput:focus {
   border: 1px solid #3c3c3c;
    box-shadow: 0px 0px 2px #3c3c3c;

}
.emailInput::placeholder {
    color: rgb(174, 174, 174);
}
label {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 8px;

}

.emailInput:-webkit-autofill,
.emailInput:-webkit-autofill:hover, 
.emailInput:-webkit-autofill:focus, 
.emailInput:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 40px rgb(255, 255, 255) inset !important;
    -webkit-text-fill-color: rgb(111, 111, 111) !important;
    border-color: white;
    /* keep box shadow the same */
    -webkit-box-shadow:  0px 0px 5px rgba(76, 76, 76, 0.278);
}

.emailInput:-webkit-autofill:focus {
    border-color: #FF7B00;

}
.invalidEmailInput {
    border: 1px solid red;
    box-shadow: 0px 0px 2px #ff0000;
    transition: .3s;
}

.inputErrorText{
    font-size: 10pt;
    color: red;
}