.textInputWrapper {
    position: relative;
}
.shadowWrapper {
    border-radius: 5px; /* Match input border-radius */
    width: calc(100%);
}

.textInput {
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    width: calc(100% - 24px);
    border-radius: 5px;
    color: rgb(111, 111, 111);
    transition: 0.3s;
}

.textInput:focus {
    border: 1px solid #3c3c3c;
    box-shadow: 0px 0px 2px #3c3c3c;

}
.textInput::placeholder {
    color: rgb(174, 174, 174);
}
label {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 8px;

}

.textInput:-webkit-autofill,
.textInput:-webkit-autofill:hover, 
.textInput:-webkit-autofill:focus, 
.textInput:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 40px rgb(255, 255, 255) inset !important;
    -webkit-text-fill-color: rgb(111, 111, 111) !important;
    /* keep box shadow the same */
    -webkit-box-shadow:  0px 0px 2px #3c3c3c;
    border: 1px solid lightgray;

}

.textInput:-webkit-autofill:focus {
   border: 1px solid #3c3c3c;
    box-shadow: 0px 0px 2px #3c3c3c;
}
.invalidTextInput {
    border: 1px solid red;
    box-shadow: 0px 0px 2px #ff0000;
    transition: .3s;
}
.inputErrorText{
    font-size: 10pt;
    color: red;

}
.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggleBtn {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.8;
    padding: 0px;

}

.toggleBtn:hover {
    opacity: 1;
}
.passwordRequirements {
    margin-left: 15px;
    margin-top: 10px;
}

.passwordRequirements p {

    font-size: 9pt;
}

/* When requirement is met */
.passwordRequirements p.met {
    color: #2ecc71;
    text-decoration: line-through;
    opacity: 0.7;
}

