.phoneInputWrapper {
    position: relative;
}
.shadowWrapper {
    border-radius: 5px; /* Match input border-radius */
    width: calc(100%);
}

.phoneInput {
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    width: calc(100% - 24px);
    border-radius: 5px;
    color: rgb(111, 111, 111);
    transition: 0.5s;

}

.phoneInput:focus {
   border: 1px solid #3c3c3c;
    box-shadow: 0px 0px 2px #3c3c3c;

}
.phoneInput::placeholder {
    color: rgb(174, 174, 174);
}
label {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 8px;

}

.phoneInput:-webkit-autofill,
.phoneInput:-webkit-autofill:hover, 
.phoneInput:-webkit-autofill:focus, 
.phoneInput:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 40px rgb(255, 255, 255) inset !important;
    -webkit-text-fill-color: rgb(111, 111, 111) !important;
    border-color: white;
    /* keep box shadow the same */
    -webkit-box-shadow:  0px 0px 5px rgba(76, 76, 76, 0.278);
}

.phoneInput:-webkit-autofill:focus {
    border-color: #FF7B00;

}
.invalidPhone {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.096);
    transition: .3s;
}