.selbut {
    padding: 0px;
    width: 0px;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    font-weight: normal;
       color: rgb(111, 111, 111);
}
.dropdown-container {
  position: relative;
  font-size: 16px;
}

.dropdown-label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
  font-weight: 600;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  outline: none;
    position: relative;

}
.dropdown-btn::after {
    content: '';
    position: absolute;
    right: 10px; /* Adjust as needed for padding */
    top: 60%;
    transform: translateY(-50%); /* Center vertically */
    border: 5px solid transparent; /* Create the arrow shape */
    border-top-color: #c5c5c5; /* Arrow color */
    transition: .3s;

    }

    /* Style to rotate the arrow when the dropdown is open */
.dropdown-btn.dropdown-open::after {
    transform: translateY(-50%) rotate(180deg);
    top: 40%;
    transition: .3s;



}

.dropdown-btn:hover, .dropdown-btn:focus {
  border-color: #FF7B00;
}

.options-container {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.235);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  top: 100%;
  margin-top: 4px;
}

.option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  background-color: #f0f0f0;
}
label {
  display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 5px;
}

.option-selected {
    background-color: #FF7B00;
    color: white;
}
.option-selected:hover {
    background-color: #FF7B00;
    color: white;
}

.invalid {
  border-color: red;
  background-color: red;
  background-color: rgba(255, 0, 0, 0.096);
}

.invalid:hover {
    border-color: red;
}