.fullpageLoaderWrapper {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.insideLoad{
    padding-bottom: 25px;
}