.pointWrap {
    width: 80%;
    margin: auto;
    padding: 150px 0px 150px 0px;
    max-width: 1650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contactLeft {
    width: 50%;
    margin: auto;
}
.mobileContactLink {
    display: none;
}
@media (max-width: 1165px){
    .pointWrap{
        width: 90%;
    }
    .contactLeft{
        width: 80%;
    }
}

@media (max-width: 1000px){
    .pointWrap{
        padding: 75px 0px 100px 0px;

    }
}
@media (max-width: 850px){
    .contactLeft{
        width: 100%;
    }
    
}
@media(max-width: 600px){
    .mobileContactLink {
        display: block;
    }
    .deskContactLink {
        display: none;
    }
}
