.aboutWrap {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutLeft {
    width: calc(50% - 20px);
    height: 60vh;
    max-height: 500px;
}
.aboutRight {
    width: calc(45% - 20px);
    height: fit-content;
}
.aboutLeft img {
    width: 100%; /* Ensure the image spans the full width of the container */
    height: 100%; /* Ensure the image spans the full height of the container */
    object-fit: cover; /* Cover the container without distorting the image */
    border-radius: 10px;

}
.mobileLii {
    display: none;
}

.surpriseHead {
    display: none;
}
@media (max-width: 1165px){
    .aboutWrap{
        width: 90%;
    }
}
@media(max-width: 1000px){
    .aboutWrap{
        padding: 75px 0px 0px 0px;
    }
}
@media (max-width: 980px){
    .aboutWrap {
        flex-direction: column;

    }
    .aboutLeft {
        width: 100%;
        height: 350px;
    }
    .aboutRight {
        width: 100%;
        margin-top: 25px;
    }
    .surpriseHead {
        display: block;
        width: 100%;
        text-align: left;
    }
    .hidemobheading {
        display: none;
    }
}

@media (max-width: 750px){

    .aboutLeft {
        max-height: 250px;
    }
    .mobileLii {
        display: block;
    }
    .deskLii {
        display: none;
    }
}