.wrapOutsideAll{
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
}

.desktopDevices {
    width: 90%;
    margin: auto;
    max-width: 1600px;
}

.linksFlex {
    display: flex;
    justify-content: space-between;
}
.outerLink {
    width: calc(50% - 12.5px);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
    height: 400px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.227);
    overflow: hidden;
    position: relative;
}
.outerLink img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -3;
    transition: .3s;
}
.linkOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: -1;
}
.outerLink:hover img {
    scale: 1.005;
    transition: .3s;

}
.iconOuterFlex {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.linkInfo {
    top: 25px;
    left: 25px;
    width: calc(100% - 50px);
    position: absolute;
    z-index: 2;
}
.iconSide p {
    color: white;
    text-shadow: 0px 0px 15px black;
}
.linkGradient {
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.644), transparent);
}
.iconSide {
    width: calc(100% );
}
.holdOuterB {
    height: 0px;
    opacity: 1;
    margin-top: 0px;
    overflow: hidden;
    transition: .3s;

  }
  
  .outerLink:hover .iconOuterFlex .holdOuterB {
    height: 50px;
    opacity: 1;
    margin-top: 25px;

    transition: .3s;
  }
.touchScreenDevices {
    display: none;
}
.touchOuter{
    overflow: hidden;
    height: fit-content;
    border-radius: 10px;
    cursor: grab;
}
.toucherb {
    display: block;
    margin-top: 10px;
}
.wrapOuterImageLinker {
    height: 50vh;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.wrapOuterImageLinker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}
.touchOverlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 1;
}
.fullButtoLink {
    display: none;
}
.touchInnerInfo {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: calc(100% - 50px);
    margin: auto;
    z-index: 2;
}
.touchScreenDevices {
    width: 90%;
    margin: auto;
    overflow: visible;
}
.wrapToucher {
    width: 100vw;
    overflow: hidden;
}
.outswiperap {
    margin: auto;
    position: relative;
    width: 100%;
}
.outslide {
    border-radius: 10px;
    overflow: hidden;
}
.swiper.finnatouchswiper {
    overflow: visible !important;
}
.touchSwiperTitleFlex {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.touchHeadSide {
    width: calc(100% - 95px);
}
.touchButtonsSide {
    display: flex;
    margin-bottom: 15px;
}
.mobileTappers {
    display: none;
}


@media (max-width: 1050px){
    .linksFlex {
        flex-direction: column;
    }
    .bottomL {
        margin-top: 25px;
    }
    .outerLink {
        width: 100%;
    }
    .wrapOuterImageLinker {
        max-height: none;
        height: 500px;
    }
    .desktopDevices {
        display: none;

    }
    .touchScreenDevices {
        display: block;
    }
    @media(pointer:coarse){
        .bottomL {
            margin-top: 50px;
        }
    }
}
@media (max-width: 1000px){
    .wrapOutsideAll{
        padding-top: 75px;
    }
}

@media (pointer: coarse){
    .bottomL {
        margin-top: 0px;
    }
    .touchScreenDevices {
        display: block;
    }
    .desktopDevices {
        display: none;
    }
    .desktappers {
        display: none;
    }


    @media(max-width: 1050px){
        .bottomL {
            margin-top: 25px;
        }
        .desktappers {
            display: flex;
        }
    }

    @media(max-width: 650px){
        .fullButtoLink {
            display: block;
        }
        .shortButtoLink {
            display: none;
        }
     
    }

}

@media (max-width: 600px){
    .mobileTappers {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }
    .desktappers {
        display: none;
    }
    .touchHeadSide {
        width: calc(100%);
    }
}