.subHeroArea{
    overflow: hidden;
    height: 350px;
    position: relative;
}
.subHeroImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subOverlay {
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    height: 100%;
    width: 100%;
}
.subHeroGradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.subHeroInfo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
}
.subHeroText {
    color: white;
    text-shadow: 0px 0px 15px black;
    text-align: center;
}