
.heroWrap {
    width: 100%;
    margin: auto;
    height: calc(100% - 25px);
    overflow: hidden;
    position: relative;
    min-height: 515px;
    max-height: 900px;
}
.heroImage {
    width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heroOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100%;
    width: 100%;
}
.heroGradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.heroInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
}
.heroText {
    color: white;
    text-shadow: 0px 0px 15px black;
    font-size: 40pt;
    text-align: center;
}
.wrapHeroButton {
    width: fit-content;
    margin: auto;
    margin-top: 25px;
}
.heroSubText {
    text-align: center;
    color: rgb(216, 216, 216);
    text-shadow: 0px 0px 15px black;
    margin-top: 25px;
}
.mobileGradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
    display: none;
}
@media (max-width: 875px){
    .heroText {
        font-size: 30pt;
    }
}

@media (max-width: 600px){
    .heroText {
        font-size: 26pt;
    }
    .heroWrap {
        display: flex;
        height: fit-content;
        padding-bottom: 50px;
        min-height: auto;

    }
    .heroInfo {
        position: relative;
        padding-top: 0px;
        transform: translate(0%, 0%);
        left: 0px;
        top: 0px;
        margin: auto;
        padding-top: 125px;
        padding-bottom: 125px;
    }
    .mobileGradient {
        display: block;
    }
}
@media (max-width: 450px) {
    .heroText {
        font-size: 24pt;
    }
}